.App {
    width: 320px;
    height: 500px;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "qr-image"
        "content";
    width: 320px;
    height: 500px;
}
.qr-image {
    justify-self: center;
    align-self: center;
    grid-area: qr-image;
    width: 280px;
    height: 280px;
    border-radius: 10px;
    background-color: hsl(216, 100%, 70%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-image img{
  width: 200px;
}

.content {
    justify-self: center;
    grid-area: content;
    width: 280px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.content h1 {
  color: var(--dark-blue);
  font-size: 1.5em;
  text-align: center;
}

.content p {
  color: var(--grayish-blue);
  text-align: center;
}